services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: salon_development
      MYSQL_USER: app
      MYSQL_PASSWORD: apppw
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-ppassword"]
      interval: 5s
      timeout: 3s
      retries: 30

  back:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env.local
    command: >
      bash -lc "rm -f tmp/pids/server.pid &&
              bundle install &&
              bundle exec rails s -b 0.0.0.0 -p $${PORT}"
    environment:
      JWT_SECRET: "this_is_a_secret_key_for_development"
      DB_HOST: db
      DB_NAME: salon_development
      DB_USER: app
      DB_PASSWORD: apppw
      DB_ROOT_PASSWORD: password
      RAILS_ENV: development
      PORT: 3500
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3500:3500"
    container_name: back

  front:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - REACT_APP_API_URL=http://localhost:3500
      - PORT=8000
    volumes:
      - ./frontend:/app
      - /app/node_modules # node_modulesをコンテナ内で保持
    command: sh -c "npm ci && npm start"
    ports:
      - "8000:8000"
    container_name: front

volumes:
  mysql_data:
